.card{
    border: 1px red solid;
}
.card :hover {
    background-color: blue;
}
.card:hover {
    background-color: green;
}

.asdf {
    margin-bottom: 15px;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
  }